<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software Blogaload</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>

      <nav>
          <a class="navbar-brand navTitle" href="/">The Software Blogaload</a>
  
          <div >
              {{#if logged_in}}

                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>

              
                <li class="nav-item">
                  <button class="no-button" id="logout">Logout</button>
                </li>

              {{else}}
                <li>
                  <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/signUp">Sign Up</a>
                </li>
              {{/if}}
            </ul>
          </div>
       
      </nav>

      <main class="container">
        {{{body}}}
      </main>
      <footer>
      </footer>
    </div>


    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>








</html>