<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software Blogaload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>

      
          <a class="theHeader" href="/">The Software Blogaload</a>
          <div>
              {{#if logged_in}}
            
      <ul class="dashBoardDec">
                <li class="nav-item">
                  <a class="nav-link " href="/dashboard">Dashboard</a>
                </li>

              
                <li class="nav-item">
                  <button class="no-button" id="logout">Logout</button>
                </li>
      </ul>
              {{else}}

              <div class="loginSignupPage">
                <li class=" userLogging nav-item">
                  <a class=" linkColoring nav-link" href="/login">Login</a>
                </li>

                <li class=" userSigning nav-item">
                  <a class=" linkColoring nav-link" href="/signUp">Sign Up</a>
                </li>
             </div>
              {{/if}}
            
    
      

      <main class="container">
        {{{body}}}
      </main>
      <footer>
      </footer>
    </div>


    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </body>
</html>