<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>

    </h2>
  </div>
  <!-- For each blog in the array of blog objects, the following <div> will be rendered. -->
  {{#each blogs as |blog|}}
    <div class="dish col-md-5">
      <!-- We use bl.id instead of <od> and <li> elements. -->
      <p>
        {{blog.id}}
        {{blog.blog_title}}.
        {{blog.author_name}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        Blog Body
        {{blog.blog_body}}
      </p>
    </div>
  {{/each}}
</div>