
  <h2 >Sign Up</h2>

  <form class="signup-form">
    <div>
      <input type="text" placeholder="Username" id="username-signup" />
    </div>

    <div>
      <input type="password" placeholder="Password" id="password-signup" />
    </div>

    <div>
      <button class="signUpinstead" type="submit">Sign Up</button>
    </div>
  </form>
  <div>
    <a  class="signUpinstead  fixLoginInstead" href="/login">Login Instead</a>
  </div>


<script src="./js/signUp.js"></script>